.border {
  border-radius: 15px;
}

.mcc-size {
  min-height: 30vh;
  min-width: 30vw;
  align-self: center;
  align-content: center;
  text-align: center;
}

.us {
  user-select: none;
}

.page {
  min-height: 100vh;
  justify-items: center;
  align-content: center;
  overflow: hidden;
}